<ng-container *ngIf="profileData != undefined">
  <div id="username">
    {{username}} - Level {{getLevel(profileData.XP)}}
  </div>

  <div id="medals">
    <ng-container *ngFor="let medalType of medalTypes; let i = index">
      <div class="col"
          [ngClass]="'col' + (i + 1)">
        <div class="colTitle">
          {{medalType}} Medals
        </div>
        <div class="medals">
          <ng-container *ngFor="let medalName of medalNames; let j = index">
            <div class="medalContainer">
              <img class="medalImage" 
                   src="{{medalPath}}{{medalType}}_{{medalName}}.svg">
              <div class="medalNumber monospace">
                x{{profileData[medalType + medalName + 'Medals']}}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div id="matchHistory">
    <a class="smallentry odd">
      <a class="smalldata">
        Match History
      </a>
    </a>
    <a class="scrollable">
      <ng-container *ngFor="let game of profileData.MatchHistory;let i=index">
        <a class="entry" [ngClass]="i % 2 == 0 ? 'even' : 'odd'">
          <a class="image">
            <img src="{{getGameImage(game.GameID)}}">
          </a>
          <a class="data">
            <a class="title row">
                <a [ngClass]="game.Difficulty == 1 ? 'easy' 
                            : game.Difficulty == 2 ? 'medium' 
                            : game.Difficulty == 3 ? 'hard' 
                            : 'extreme'">
                  {{getDifficulty(game.Difficulty)}}  
                </a>
            </a>

            <a class="row gamename">
              {{getGameName(game.GameID)}}
            </a>

            <a class="monospace row">
              {{game.TimeElapsed}}
            </a>
            <a class="row">
              {{convertDate(game.TimeCompleted) | date: 'MM/dd/yyyy hh:mm a'}}
            </a>
          </a>
        </a>
      </ng-container>
      <a (click)="loadMore()"
        class="smallentry load clickable">
        <a class="smalldata clickable">
          Load More
        </a>
      </a>
    </a>
  </div>
<ng-container>
