<ng-container *ngIf="profileData != undefined">
  <div id="username">
    {{username}}
  </div>
  <!--
  <p>
    {{username}}'s profile: (layout design coming soonTM) <br>
    Daily Gold: {{profileData.DailyGoldMedals}} <br>
    Daily Silver: {{profileData.DailySilverMedals}} <br>
    Daily Bronze: {{profileData.DailyBronzeMedals}} <br>
  
    Weekly Gold: {{profileData.WeeklyGoldMedals}} <br>
    Weekly Silver: {{profileData.WeeklySilverMedals}} <br>
    Weekly Bronze: {{profileData.WeeklyBronzeMedals}} <br>
  
    Monthly Gold: {{profileData.MonthlyGoldMedals}} <br>
    Monthly Silver: {{profileData.MonthlySilverMedals}} <br>
    Monthly Bronze: {{profileData.MonthlyBronzeMedals}}
  </p>
  -->

  <div id="medals">
    <div class="col col1">
      <div class="colTitle">
        Daily Medals
      </div>
      <div class="medals">
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/gold.svg">
          <div class="medalNumber monospace">
            x{{profileData.DailyGoldMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/silver.svg">
          <div class="medalNumber monospace">
            x{{profileData.DailySilverMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/bronze.svg">
          <div class="medalNumber monospace">
            x{{profileData.DailyBronzeMedals}}
          </div>
        </div>
      </div>
    </div>
    <div class="col col2">
      <div class="colTitle">
        Weekly Medals
      </div>
      <div class="medals">
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/gold.svg">
          <div class="medalNumber monospace">
            x{{profileData.WeeklyGoldMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/silver.svg">
          <div class="medalNumber monospace">
            x{{profileData.WeeklySilverMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/bronze.svg">
          <div class="medalNumber monospace">
            x{{profileData.WeeklyBronzeMedals}}
          </div>
        </div>
      </div>
    </div>
    <div class="col col3">
      <div class="colTitle">
        Monthly Medals
      </div>
      <div class="medals">
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/gold.svg">
          <div class="medalNumber monospace">
            x{{profileData.MonthlyGoldMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/silver.svg">
          <div class="medalNumber monospace">
            x{{profileData.MonthlySilverMedals}}
          </div>
        </div>
        <div class="medalContainer">
          <img class="medalImage" src="/assets/images/medals/bronze.svg">
          <div class="medalNumber monospace">
            x{{profileData.MonthlyBronzeMedals}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="matchHistory">
    <a class="smallentry odd">
      <a class="smalldata">
        Match History
      </a>
    </a>
    <a class="scrollable">
      <ng-container *ngFor="let game of profileData.MatchHistory;let i=index">
        <a class="entry" [ngClass]="i % 2 == 0 ? 'even' : 'odd'">
          <a class="image">
            <img src="{{getGameImage(game.GameID)}}">
          </a>
          <a class="data">
            <a class="title row">
              <a [ngClass]="game.Difficulty == 1 ? 'easy' : game.Difficulty == 2 ? 'medium' : game.Difficulty == 3 ? 'hard' : 'extreme'">
                {{getDifficulty(game.Difficulty)}}  
              </a>

              {{getGameName(game.GameID)}}
            </a>
            <a class="monospace row">
              {{game.TimeElapsed}}
            </a>
            <a class="row">
              {{convertDate(game.TimeCompleted) | date: 'MM/dd/yyyy hh:mm a'}}
            </a>
          </a>
        </a>
      </ng-container>
      <a (click)="loadMore()"
        class="smallentry load clickable">
        <a class="smalldata clickable">
          Load More
        </a>
      </a>
    </a>
  </div>
<ng-container>
