.buttonSubtext {
    font-size: 11px;
}

.relay-block {
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
}

#focusMe:focus {
    display: none;
}

.hidden {
    display: none;
}

.new-game {
    color: white !important;
    background: #4c4c4d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn-group {
    width: 100%;
}

.panel-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-footer {
    padding-top: 2em;
}

.game-button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.25em;
    color: white;
    font-size: 1.25rem;
    line-height: 1;
}

.difficulty-select {
    padding: 0.25em 0;
    font-weight: bold;
}

.notes {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 180px;
    cursor: pointer;
}
