<div class="panel-body">
  <ng-container *ngIf="takingNotesMode">
    <div class="notes">
      <a
        (click)="onNotesChange()"
        [ngClass]="takingNotes ? 'btn-warning' : 'btn-danger'"
        class="center btn"
      >
        Taking Notes: {{ takingNotes }}</a
      >
    </div>
  </ng-container>

  <div class="descriptionBlock" *ngIf="playingQueue()">
    <b>
      RELAY TIMER
    </b>

    <a id="relay-timer" class="monospace time">{{ getRelayTime() }}</a>
  </div>

  <div class="descriptionBlock" *ngIf="playingQueue()">
    <b>
      RELAY AVERAGE
    </b>

    <a id="relay-timer" class="monospace time">{{ getRelayAverage() }}</a>
  </div>

  <div class="descriptionBlock">
    <button
      mat-button
      class="descriptionHeader clickable left-button"
      (click)="
        timerMinimized = !timerMinimized;
        minimize('timerMinimized', timerMinimized)
      "
    >
      <ng-container *ngIf="timerMinimized">
        <mat-icon>
          keyboard_arrow_right
        </mat-icon>
      </ng-container>
      <ng-container *ngIf="!timerMinimized">
        <mat-icon>
          keyboard_arrow_down
        </mat-icon>
      </ng-container>
      <b class="button-text">
        TIMER
      </b>
    </button>

    <a
      id="timer"
      [ngClass]="timerMinimized ? 'hidden' : 'none'"
      class="monospace time"
      >00:00.000</a
    >
  </div>

  <ng-container *ngIf="!playingQueue()">
    <div class="descriptionBlock" *ngIf="isLoggedIn()">
      <button
        mat-button
        class="descriptionHeader clickable left-button"
        (click)="
          highscoresMinimized = !highscoresMinimized;
          minimize('highscoresMinimized', highscoresMinimized)
        "
      >
        <ng-container *ngIf="highscoresMinimized">
          <mat-icon>
            keyboard_arrow_right
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="!highscoresMinimized">
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </ng-container>
        <b class="button-text">
          HIGH SCORES
        </b>
      </button>

      <ng-container *ngIf="!highscoresMinimized">
        <a class="descriptionText topPad">Monthly</a>
        <a class="monospace timeSave">{{ personalBestMonthly }}</a>

        <a class="descriptionText topPad">Weekly</a>
        <a class="monospace timeSave">{{ personalBestWeekly }}</a>

        <a class="descriptionText topPad">Daily</a>
        <a class="monospace timeSave">{{ personalBestDaily }}</a>
      </ng-container>
    </div>

    <div class="descriptionBlock" *ngIf="controls != undefined">
      <button
        mat-button
        class="descriptionHeader clickable left-button"
        (click)="
          controlsMinimized = !controlsMinimized;
          minimize('controlsMinimized', controlsMinimized)
        "
      >
        <ng-container *ngIf="controlsMinimized">
          <mat-icon>
            keyboard_arrow_right
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="!controlsMinimized">
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </ng-container>
        <b class="button-text">
          CONTROLS
        </b>
      </button>

      <ng-container *ngIf="!controlsMinimized">
        <a class="descriptionText">
          {{ controls }}
        </a>
      </ng-container>
    </div>

    <div class="descriptionBlock" *ngIf="rules != undefined">
      <button
        mat-button
        class="descriptionHeader clickable left-button"
        (click)="
          rulesMinimized = !rulesMinimized;
          minimize('rulesMinimized', rulesMinimized)
        "
      >
        <ng-container *ngIf="rulesMinimized">
          <mat-icon>
            keyboard_arrow_right
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="!rulesMinimized">
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </ng-container>
        <b class="button-text">
          RULES
        </b>
      </button>
      <ng-container *ngIf="!rulesMinimized">
        <h1 class="descriptionText">
          {{ rules }}
        </h1>
      </ng-container>
    </div>
  </ng-container>

  <div class="descriptionBlock" *ngIf="options != undefined">
    <button
      mat-button
      class="descriptionHeader clickable left-button"
      (click)="
        optionsMinimized = !optionsMinimized;
        minimize('optionsMinimized', optionsMinimized)
      "
    >
      <ng-container *ngIf="optionsMinimized">
        <mat-icon>
          keyboard_arrow_right
        </mat-icon>
      </ng-container>
      <ng-container *ngIf="!optionsMinimized">
        <mat-icon>
          keyboard_arrow_down
        </mat-icon>
      </ng-container>
      <b class="button-text">
        OPTIONS
      </b>
    </button>

    <ng-container *ngIf="!optionsMinimized">
      <ng-container *ngFor="let option of options; let i = index">
        <ng-container *ngIf="option.type == 'checkbox'">
          <div class="custom-control custom-checkbox">
            <mat-checkbox
              id="{{ option.bindTo }}"
              [(ngModel)]="optionVals[i]"
              (click)="callback(option.callback)"
            >
              {{ option.name }}
            </mat-checkbox>
          </div>
        </ng-container>

        <ng-container *ngIf="option.type == 'dropdown'">
          <div class="custom-control custom-dropdown">
            <mat-label>Color Scheme</mat-label>
            <mat-select
              id="{{ option.bindTo }}"
              [(ngModel)]="optionVals[i]"
              (ngModelChange)="
                updateAndCallback(option.callback, option.storedName, $event)
              "
            >
              <mat-option *ngFor="let o of option.options" [value]="o">
                {{ o }}
              </mat-option>
            </mat-select>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="!playingQueue()">
    <div class="descriptionBlock" *ngIf="hotkeys != undefined">
      <button
        mat-button
        class="descriptionHeader clickable left-button"
        (click)="
          hotkeysMinimized = !hotkeysMinimized;
          minimize('hotkeysMinimized', hotkeysMinimized)
        "
      >
        <ng-container *ngIf="hotkeysMinimized">
          <mat-icon>
            keyboard_arrow_right
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="!hotkeysMinimized">
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </ng-container>
        <b class="button-text">
          HOTKEYS
        </b>
      </button>
      <ng-container *ngIf="!hotkeysMinimized">
        <ng-container *ngFor="let hotkey of hotkeys; let i = index">
          <div class="container-flex-row">
            <div class="col-6 hotkey-label">
              {{ hotkey.name }}
            </div>
            <div class="col-6">
              <div class="key" (click)="editHotkey(i)">
                <span>
                  <ng-container *ngIf="editIndex != i">
                    {{ convertCodeToStr(hotkeyVals[i]) }}
                  </ng-container>
                  <ng-container *ngIf="editIndex == i">
                    ...
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="playingQueue()">
    <div class="descriptionBlock">
      <a class="descriptionHeader">
        <b>
          RELAY HISTORY
        </b>
      </a>

      <a class="descriptionText">
        <ng-container *ngFor="let item of getRelayHistory(); let i = index">
          <div class="relay-block">
            <ng-container *ngIf="item.diff == 1">
              <a class="easy">Easy</a>
            </ng-container>
            <ng-container *ngIf="item.diff == 2">
              <a class="medium">Medium</a>
            </ng-container>
            <ng-container *ngIf="item.diff == 3">
              <a class="hard">Hard</a>
            </ng-container>
            <ng-container *ngIf="item.diff == 4">
              <a class="extreme">Extreme</a>
            </ng-container>
            <ng-container *ngIf="item.diff == 99">
              <a class="random">Random</a>
            </ng-container>

            {{ item.name }} <br />
            {{ item.time }}
          </div>
        </ng-container>
      </a>
    </div>
  </ng-container>
</div>
<div class="panel-footer">
  <mat-select
    *ngIf="!playingQueue()"
    class="difficulty-select clickable"
    [(ngModel)]="selectedDifficulty"
    (ngModelChange)="difficultyChangeHandler($event)"
  >
    <mat-option *ngFor="let diff of diffs" [value]="diff.diff">
      {{ diff.name | titlecase }}
    </mat-option>
  </mat-select>
  <button
    mat-raised-button
    *ngIf="gameID != undefined"
    id="copyGameLink"
    class="game-button"
    (click)="copyGameLink()"
  >
    <b class="clickable">SHARE GAME</b>
  </button>
  <button
    *ngIf="!playingQueue()"
    mat-raised-button
    color="primary"
    class="game-button"
    (click)="callback('newGame')"
  >
    <b class="clickable">NEW GAME</b>
    <br />
    <span class="buttonSubtext clickable">spacebar</span>
  </button>
  <button
    *ngIf="playingQueue()"
    mat-raised-button
    color="primary"
    class="game-button"
    (click)="callback('clearBoard')"
  >
    <b class="clickable">CLEAR BOARD</b>
    <br />
    <span class="buttonSubtext clickable">spacebar</span>
  </button>
</div>
<button id="focusMe" style="background-color:#2c2c2c;border:none"></button>
