#username-cell:hover {
  color: rgba(white, 0.75);
  cursor: pointer;
}

.leaderboard-header {
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  h2 {
    display: inline-block;
  }
}

tr {
  height: 40px;
}

.leaderboard-ui {
  padding: 0 0.25rem;
}

.game-title {
  font-family: $alt-font-stack;
}

.game-selector {
  max-height: 100%;
  padding: 0;
  align-items: center;
  align-content: center;

  img {
    max-width: 6rem;
  }
}

.game-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.leaderboard-card {
  display: flex;
  flex-direction: column;
  max-width: 26rem;
  margin: 0.25rem;
  text-align: center;

  .mat-card-header {
    flex-shrink: 0;
  }

  .mat-card-content {
    flex-grow: 1;
    padding: 0.25rem 0;
    border: 0.2rem solid $white;
    border-left: none;
    border-right: none;

    &.easy {
      border-color: $diff-color-easy;
    }

    &.medium {
      border-color: $diff-color-medium;
    }

    &.hard {
      border-color: $diff-color-hard;
    }

    &.extreme {
      border-color: $diff-color-extreme;
    }
  }

  .mat-card-actions {
    font-size: 0.75rem;
    text-align: right;

    span {
      color: $puz-blue;
      display: inline-block;
      padding: 0.4rem;

      &:not(.disabled):hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &.disabled {
        color: gray;
        cursor: default;
        pointer-events: none;
      }

      &.current {
        color: $text-color;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

.leaderboard-tables {
  padding-top: 1rem;
  justify-content: space-between;

  table {
    width: 100%;
    border-collapse: collapse;

    th:nth-of-type(3), td:nth-of-type(3) {
      text-align: left;
    }

    & tfoot {
      border-top: 0.5rem solid rgba(0,0,0,0);
    }
  }
}

.you {
  background-color: rgba(white, 0.1);
}

.leaderboard-puzzler-icon {
  width: 2rem;
  display: inline-block; // icon width won't render properly with just inline
}

.leaderboard-profile-link {
  color: $text-color; 

  &:hover {
    text-decoration: none;
    color: $puz-blue;
  }
}

.medals {
  font-size: 0.75rem;
  // the alignment of medals gets real weird if it's not left-aligned
  text-align: left;
}

.medal {
  width: 0.95rem;
  height: 0.95rem;
  margin: 0.3rem 0;
}

.hide {
  display: none;
}
