.leaderboard-header {
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  h2 {
    display: inline-block;
  }
}

.game-title {
  font-family: $alt-font-stack;
}

.game-selector {
  max-height: 100%;
  padding: 0;
  align-items: center;
  align-content: center;

  img {
    max-width: 6rem;
  }
}

.leaderboard-tables {
  table {
    width: 100%;
  }
}

.leaderboard-card {
  width: 26rem;
  max-width: 26rem;
  height: 48rem;
  max-height: 48rem;
  padding: 0.5rem 0.25rem 1.5rem;
  text-align: center;

  h3 {
    font-weight: bold;
  }
}

.leaderboard-table {
  height: 43rem;
  max-height: 48rem;
  overflow-y: auto;
  background: $cmp-color;

  table {
    width: 100%;
    padding: 0.25rem;
  }
}

.easy {
  background-color: $diff-color-easy;
}

.medium {
  background-color: $diff-color-medium;
}

.hard {
  background-color: $diff-color-hard;
}

.extreme {
  background-color: $diff-color-extreme;
}

.you {
  background-color: rgba(255, 255, 255, 0.2);
}

.medals {
  font-size: 0.75rem;
  // the alignment of medals gets real weird if it's not left-aligned
  text-align: left;
}

.medal {
  width: 0.95rem;
  height: 0.95rem;
  margin: 0.3rem 0;
}
