.body {
  height:calc(100vh - 3.5rem);
  overflow-y: auto;
  background-color: $bg-color;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-around;
}

.puzzle-card {
  width: 28.75rem;
  min-height: 36.875rem;
  margin: 1.4rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: $cmp-color;

  img:first-of-type {
    width: 100%;
    height: 18.125rem;
    max-height: 18.125rem;
    margin: 0;
    padding: 3.125rem 0;
  }

  .mat-card-header {
    margin: 0;
    margin-left: -16px;
  }

  .mat-card-title {
    font-family: $alt-font-stack;
    font-size: 1.5rem;
  }

  .mat-card-content {
    font-size: 1rem;
  }

  .mat-card-actions {
    display: flex;
    flex-row: row no-wrap;
    justify-content: space-between;

    button {
      max-width: 22%;
      flex: 1 0 auto;
      flex-basis: 0;
      margin: 0;
      font-size: 0.9rem;

      &:first-of-type {
        margin-left: 0.5rem;
      }
      &:last-of-type {
        margin-right: 0.5rem;
      }
    }
  }
}
