.buttonSubtext {
    font-size: 11px;
}

#focusMe:focus {
    display: none;
}

.hidden {
    display: none;
}

.new-game {
    color: white !important;
    background: #4c4c4d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn-group {
    width: 100%;
}

.panel-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-footer {
    padding-top: 2em;
}

.game-button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.25em;
    color: white;
    font-size: 1.25rem;
    line-height: 1;
}

.difficulty-select {
    padding: 0.25em 0;
    font-weight: bold;
}

.notes {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 180px;
    cursor: pointer;
}

.hotkey-label {
  line-height: 3.625rem;
}

div.key {
  width: 2.125rem;
  height: 2.25rem;
  padding: 0.0625rem;
  margin: 0.625rem;

  & > span {
    display: block;
    width: 2.125rem;
    height: 2.125rem;
    border: 0.0625rem solid #a9a9a9;
    border-radius: 0.125 0.125 0.125 0.125; 
    -moz-border-radius: 0.125 0.125 0.125 0.125; 
    -webkit-border-radius: 0.125 0.125 0.125 0.125; 
    font-size: 0.75rem;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    text-align: center;
    padding-top: 0.625rem;
    //color: #7c7c7c;
    box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    -webkit-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    cursor: pointer;

    &:hover {
      background-color: $puz-blue;
      border: 0.0625rem solid #5a88c5;
      color: #fff;
      text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2);
      box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
      -moz-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
      -webkit-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
      cursor: pointer;
    }

    &:active {
      margin-top: 0.125rem;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}
