.profile {
  overflow-x: hidden;
  overflow-y: auto;

  .col-12 {
    margin-top: 1rem;
  }
}

.user-panel {
  flex-wrap: nowrap;
}

.puzzler-icon {
  max-width: 7rem;
  flex-grow: 0;
  flex-shrink: 1;
}

.accolade-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info {
  margin-left: 20px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-xp-bar {
  height: 0.75rem;
}

.medal-table {
  td {
    padding: 0 1rem;
  }
  
  tr {
    & td:first-child {
      padding-left: 0;
    }
    & td:last-child {
      padding-right: 0;
    }
  }
}

.games-played {
  margin: 0.25rem 0;
  padding: 0.25rem;
  flex-wrap: nowrap;
}

.game-history {
  margin: 0.25rem 0;
  padding: 0.25rem;
  flex-wrap: nowrap;
}

.generic-game-icon {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 4rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  background-color: $icon-bg;

  img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.game-icon {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 5.25rem;
  padding: 0.5rem;
  border-radius: 0.3rem;

  img {
    width: 4.25rem;
    height: 4.25rem;
  }
}

.generic {
  background-color: $icon-bg;
}

.easy {
  background-color: $diff-color-easy;
}

.medium {
  background-color: $diff-color-medium;
}

.hard {
  background-color: $diff-color-hard;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.extreme {
  background-color: $diff-color-extreme;
}

.load-more {
  padding: 0.5rem 0;
  text-align: center;

  button {
    width: 75%;
    font-size: 1.25rem;
  }
}

.bg-blue {
  background-color: rgba($puz-blue,0.1);
}

.bg-green {
  background-color: rgba($puz-green,0.1);
}

.bg-red {
  background-color: rgba($puz-red,0.1);
}

.bg-orange {
  background-color: rgba($puz-orange,0.1);
}
