<title>Puzzle Hub</title>
<input [(ngModel)]="password1"
        (ngModelChange)="canSubmit()"
>

<input [(ngModel)]="password2"
        (ngModelChange)="canSubmit()"
>

<ng-container *ngIf="errorMessage !== ''">
  <p style="color:red">{{errorMessage}}</p>
</ng-container>

<ng-container *ngIf="errorMessage === '' && successMessage !== ''">
  <p style="color:green">{{successMessage}}</p>
</ng-container>

<button *ngIf="errorMessage === '' && successMessage === ''"
    (click)="submitNewPassword()"
  >
  Submit
</button>
