<div class="card form-card">
  <h1>Change Password</h1>
  <form name="forgotPasswordForm" id="forgotPasswordForm" action="#" method="get">
    <mat-form-field>
      <input
        matInput
        placeholder="New Password"
        [type]="hide1 ? 'password' : 'text'"
        name="password1"
        autocomplete="new-password"
        [(ngModel)]="password1"
        (ngModelChange)="canSubmit()"
        required>
      <mat-icon matSuffix (click)="hide1 = !hide1">
        {{hide1 ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Confirm Password"
        [type]="hide2 ? 'password' : 'text'"
        name="password2"
        autocomplete="new-password"
        [(ngModel)]="password2"
        (ngModelChange)="canSubmit()"
        required>
      <mat-icon matSuffix (click)="hide2 = !hide2">
        {{hide2 ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>

    <ng-container *ngIf="errorMessage !== ''">
      <p style="color:red">{{errorMessage}}</p>
    </ng-container>

    <ng-container *ngIf="errorMessage === '' && successMessage !== ''">
      <p style="color:green">{{successMessage}}</p>
    </ng-container>

    <button 
      mat-raised-button
      color="primary"
      *ngIf="errorMessage === '' && successMessage === ''"
      (click)="submitNewPassword()">
        Submit
    </button>
  </form>
</div>
