.navbar-brand {
  padding-top: 0rem !important;
}

.imagecontainer {
  position: absolute;
  top:0px;
  left:calc(50% - 90px);
  height:3.5rem;
  width: 179px;
  z-index:0;
}

.image {
  margin-top:5px;
  height: 50px;
}

.imageholder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:179px;
  height: 50px;
}

* {
  z-index:99;
}
