<nav 
  [ngClass]="isElectron() ? 'draggable' : 'not-draggable'"
  class="navbar navbar-dark bg-dark">
  <a routerLink="/" routerLinkActive="active" class="clickable navbar-brand"><img class="clickable" src="/assets/images/logos/headerLogo.svg" height="24" width="180"></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/leaderboards" routerLinkActive="active" class="nav-item nav-link clickable">Leaderboards</a>
      <ng-container *ngIf="username != ''">
        <a [routerLink]="['/profile']" [queryParams]="{user:username}" routerLinkActive="active" class="nav-item nav-link clickable">Profile</a>
      </ng-container>
    </div>
  </div>
  <div class="navbar-expand mr-auto">
    <a class="imagecontainer">
      <a class="clickable imageholder" href="https://discord.gg/VHBsvMw">
        <img class="clickable image" src="/assets/images/logos/discord.png">
      </a>
    </a>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <ng-container *ngIf="username==''">
        <a 
          [ngClass]="isElectron() ? 'leftMore' : 'not-electron'"
          routerLink="/login" routerLinkActive="active" class="nav-item nav-link clickable">
          <i style="margin-right:5px" class="fa fa-lock clickable"></i> Sign In
        </a>
      </ng-container>
      <ng-container *ngIf="username!=''">
        <div style="color:rgba(255, 255, 255, 0.5)">
          <i style="margin-right:5px" class="fa fa-lock"></i> Signed in as {{username}}
          <a 
            [ngClass]="isElectron() ? 'leftMore' : 'not-electron'"
            class="clickable" style="margin-left:50px;" (click)="signOut()">
            Sign Out <i style="margin-left:5px" class="fa fa-sign-in clickable"></i>
          </a>
        </div>
      </ng-container>
      <ng-container *ngIf="isElectron()">
        <div class="traffic-lights">
          <button (click)="close()" class="clickable traffic-light traffic-light-close" id="close"></button>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
