<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand"><img src="/assets/images/logos/headerLogo.svg" height="23" width="180"></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/games" routerLinkActive="active" class="nav-item nav-link">Games</a>
      <a routerLink="/leaderboards" routerLinkActive="active" class="nav-item nav-link">Leaderboards</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <ng-container *ngIf="username==''">
        <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link">
          <i style="margin-right:5px" class="fa fa-lock"></i> Sign In
        </a>
      </ng-container>
      <ng-container *ngIf="username!=''">
        <div style="color:rgba(255, 255, 255, 0.5)">
          <i style="margin-right:5px" class="fa fa-lock"></i> Signed in as {{username}}
          <a style="margin-left:50px;cursor:pointer" (click)="signOut()">
            Sign Out <i style="margin-left:5px" class="fa fa-sign-in"></i>
          </a>
        </div>

      </ng-container>
    </div>
  </div>
</nav>
