<nav 
  [ngClass]="isElectron() ? 'draggable' : 'not-draggable'"
  class="navbar navbar-dark bg-dark">
  <a routerLink="/" routerLinkActive="active" class="clickable navbar-brand">
    <img class="clickable" src="/assets/images/logos/headerLogo.svg" height="24" width="180">
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/leaderboards" routerLinkActive="active" class="nav-item nav-link clickable">Leaderboards</a>
      <ng-container *ngIf="username != ''">
        <a [routerLink]="['/profile']" [queryParams]="{user:username}" routerLinkActive="active" class="nav-item nav-link clickable">Profile</a>
        <ng-container *ngIf="isMainMenu()">
          <a (click)="openPuzzleRelay()" routerLinkActive="active" class="nav-item nav-link clickable">Puzzle Relay</a>
        </ng-container>
        <ng-container *ngIf="isMainMenu()">
          <a (click)="openDailyChallenges()" routerLinkActive="active" class="nav-item nav-link clickable">Daily Challenges</a>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="container-flex col-account">
    <ng-container *ngIf="username==''">
      <a 
       [ngClass]="isElectron() ? 'leftMore' : 'not-electron'"
       style="color: rgba(255, 255, 255, 0.5);"
       routerLink="/login" routerLinkActive="active" class="nav-item nav-link clickable">
        <i style="margin-right:5px" class="fa fa-lock clickable"></i> Sign In
      </a>
    </ng-container>
    <ng-container *ngIf="username!=''">
      <div class="container-flex-row user-box">
        <app-puzzler-icon
          id ="header-icon"
          (click)="openIconPicker()"
          [puzzlerIconID]="puzzlerIconID"
          class="col puzzler-icon clickable"
        >
        </app-puzzler-icon>
        <div class="col user-info">
          <div class="username">
            {{username}} - Level {{level}}
          </div>
          <div class="xp-row">
              <mat-progress-bar
                id="header-progress"
                [value]="progress">
              </mat-progress-bar>
          </div>
          <div class="level-xp">
            {{xpToNextLevel}}/2000
          </div>
        </div>
        <div class="col sign-out">
          <a
             [ngClass]="isElectron() ? 'leftMore' : 'not-electron'"
             class="clickable" (click)="signOut()">
            Sign Out <i style="margin-left:5px" class="fa fa-sign-in clickable"></i>
          </a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isElectron()">
      <div class="traffic-lights">
        <button (click)="close()" class="clickable traffic-light traffic-light-close" id="close"></button>
      </div>
    </ng-container>
  </div>
</nav>
