#myCanvas {
    position: absolute;
    left: 225px;
    top:3.5rem;
    height: calc(100vh - 7rem);
    width: calc(100vw - 225px);
    background-color: #2C2C2C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#leftControlPanel {
  background-color: #2C2C2C;
  height: calc(100vh - 7rem);
  width: 200px;
  position: absolute;
  left: 20px;
  top: 3.5rem;
  height: calc(100vh - 7rem);
}

.descriptionBlock {
  width: 100%;
  margin-top: 30px;
  vertical-align: top;
  color: white;
}

hr {
  border-top: 1px solid white;
}

.text {
  color: white;
  padding: 5px;
}

.timer {
  top: 100px;
  left: 22px;
  text-align:center;
  color: white;
}

.time {
  display: inline-block;
  width: 100%;
  font-size: 23pt;
}

* {
  line-height: 1;
}

.descriptionText {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 12pt;
  line-height: 1.5;
}

.descriptionHeader {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 15pt;
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 22px;
  display: block;
  width: 180px;
}

.buttonHeader {
  font-size: 15pt;
}

.buttonFooter {
  font-size: 8pt;
}

.buttonFooter, .buttonHeader{
  display: inline-block;
  width: 100%;
}

.new-game:hover {
  background: #3c3c3c;
}

.new-game {
  color: white !important;
  background: #4c4c4d;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.center {
  margin: auto;
  display: block;
}
