#myCanvas {
    position: absolute;
    left: 225px;
    top:3.5rem;
    height: calc(100vh - 7rem);
    width: calc(100vw - 225px);
    background-color: #2C2C2C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
