#myCanvas {
    position: absolute;
    left: 500px;
    top:3.5rem;
    height: calc(100vh - 7rem);
    width: calc(100vw - 500px);
    background-color: #2C2C2C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controls {
  position: absolute;
  top: 106px;
  left: 242px;
  display: block;
  width: 180px;
}

* {
  line-height: 1;
}
