<div id="leftControlPanel">
  <app-options
      [gameID]="gameID"
      [difficulty]="difficulty"
      [personalBestMonthly]="personalBestMonthly"
      [personalBestWeekly]="personalBestWeekly"
      [personalBestDaily]="personalBestDaily"
      [controls]="controls"
      [rules]="rules"
      [options]="options"
      (optionSelected)="handleOption($event)"
    >
  </app-options>

  <div class="controls">
    <a (click)="takingNotes = !takingNotes" 
      [ngClass]="takingNotes ? 'btn-warning' : 'btn-danger'"
      style="font-family: 'Poppins', sans-serif;" 
      class="center btn">Taking Notes: {{takingNotes}}</a>
  </div>
</div>

<canvas id="myCanvas" (window:resize)="fixSizes()" (contextmenu)="false"></canvas>
