<div id="leftControlPanel">
  <div class="previousBest">
    High Score
    <a style="font-family: 'Inconsolata', monospace;">{{personalBest}}</a>
  </div>

  <div class="timer">
    Timer
    <a id="timer" style="font-family: 'Inconsolata', monospace;">0:00:00.000</a>
  </div>

  <div class="rules">
    <div class="text">
      <b>Rules</b><br>
      Each of the nine blocks must contain the numbers 1-9
      in its' squares. Each number can only appear once in
      a row, column, or box.
      <hr>
      <b>Controls</b><br>
      Hover over a box and input 1-9 on the keyboard, input a 0 to clear a box
    </div>
  </div>

  <div class="controls">
    <a (click)="takingNotes = !takingNotes" 
      [ngClass]="takingNotes ? 'btn-warning' : 'btn-danger'"
      style="font-family: 'Poppins', sans-serif;" 
      class="center btn">Taking Notes: {{takingNotes}}</a>
  </div>
  
  <div class="buttons">
    <a (click)="newGame()" style="font-family: 'Poppins', sans-serif;" class="center btn btn-info">New Game</a>
  </div>
</div>

<canvas id="myCanvas" (window:resize)="fixSizes()" (contextmenu)="false"></canvas>
