<h1 mat-dialog-title class="game-history-title">Game History</h1>
<div mat-dialog-content>
  <ng-container *ngFor="let game of profileData.MatchHistory; let i=index">
    <div class="game-history container-flex-row">
      <div class="game-icon-md"
           [ngClass]="games.getGameDifficultyById(game.GameID, game.Difficulty).cssBgColor">
        <img src="{{games.getGameImageById(game.GameID)}}">
      </div>
      <div class="col">
        <h5>{{games.getGameNameById(game.GameID)}} - {{games.getGameDifficultyNameById(game.GameID, game.Difficulty)}}</h5>
        <div>
          <span class="monospace">{{game.TimeElapsed}}</span><br />
          {{convertDate(game.TimeCompleted) | date: 'MM/dd/yyyy hh:mm a'}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div mat-dialog-actions class="load-more">
  <button mat-button class="btn-diff-medium" (click)="loadMore()">Load More</button>
</div>
