// Configuration and helpers
@import
  '../../sass/abstracts/variables',
  '../../sass/abstracts/mixins';

// Components
@import
  '../../sass/components/button',
  '../../sass/components/game-icon';

// Page-specific
.game-history {
  margin: 0.25rem 0;
  padding: 0.25rem;
  flex-wrap: nowrap;
}

.game-history-title {
  font-family: $alt-font-stack;
}

.load-more {
  justify-content: center;
}
