$ph-brand-primary: (
    50 : #fde9e8,
    100 : #fbc9c5,
    200 : #f9a59f,
    300 : #f68178,
    400 : #f4665b,
    500 : #f24b3e,
    600 : #f04438,
    700 : #ee3b30,
    800 : #ec3328,
    900 : #e8231b,
    A100 : #ffffff,
    A200 : #ffeae9,
    A400 : #ffb8b6,
    A700 : #ffa09c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ph-brand-accent: (
    50 : #f5f5f5,
    100 : #e7e7e7,
    200 : #d7d7d7,
    300 : #c7c7c7,
    400 : #bbbbbb,
    500 : #afafaf,
    600 : #a8a8a8,
    700 : #9f9f9f,
    800 : #969696,
    900 : #868686,
    A100 : #ffffff,
    A200 : #fce8e8,
    A400 : #ffb3b3,
    A700 : #ff9999,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ph-brand-warn: (
    50 : #fde9e8,
    100 : #fbc9c5,
    200 : #f9a59f,
    300 : #f68178,
    400 : #f4665b,
    500 : #f24b3e,
    600 : #f04438,
    700 : #ee3b30,
    800 : #ec3328,
    900 : #e8231b,
    A100 : #ffffff,
    A200 : #ffeae9,
    A400 : #ffb8b6,
    A700 : #ffa09c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ph-brand-dark-bg: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ph-brand-background: (
  status-bar:       black,
  app-bar:          map-get($ph-brand-dark-bg, 800),
  background:       map-get($ph-brand-dark-bg, 500),
  hover:            rgba(white, 0.04),
  card:             map-get($ph-brand-dark-bg, 600),
  dialog:           map-get($ph-brand-dark-bg, 600),
  disabled-button:  rgba(white, 0.12),
  raised-button:    map-get($ph-brand-dark-bg, 800),
  focused-button:   rgba(white, 0.12),
  selected-button:  map-get($ph-brand-dark-bg, 800),
  selected-disabled-button: map-get($ph-brand-dark-bg, 700),
  disabled-button-toggled: black,
  unselected-chip:  map-get($ph-brand-dark-bg, 500),
  disabled-list-option: black
);

$ph-brand-foreground: (
  base:              white,
  divider:           rgba(white, 0.12),
  dividers:          rgba(white, 0.12),
  disabled:          rgba(white, 0.05),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.05),
  hint-text:         rgba(white, 0.05),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3)
);
