.easy-bg {
  background-color: $diff-color-easy;
}

.medium-bg {
  background-color: $diff-color-medium;
}

.hard-bg {
  background-color: $diff-color-hard;
}

.extreme-bg {
  background-color: $diff-color-extreme;
}

.easy-color {
  color: $diff-color-easy;
}

.medium-color {
  color: $diff-color-medium;
}

.hard-color {
  color: $diff-color-hard;
}

.extreme-color {
  color: $diff-color-extreme;
}
