// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.puzzle-card {
  width: 28.75rem;
  min-height: 36.875rem;
  margin: 1.4rem;
  padding: 2rem;
  border-radius: 1.5rem;
  transition: 300ms;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;

  img:first-of-type {
    width: 100%;
    height: 18.125rem;
    max-height: 18.125rem;
    margin: 0;
    padding: 3.125rem 0;
  }

  .mat-card-header {
    margin: 0;
    margin-left: -16px;
  }

  .mat-card-title {
    font-family: $alt-font-stack;
    font-size: 1.5rem;
  }

  .mat-card-content {
    font-size: 1rem;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;

    button {
      max-width: 22%;
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;
      flex: 1 0 auto;
      flex-basis: 0;
      margin: 0;
      font-size: 0.9rem;

      &:first-of-type {
        margin-left: 0.5rem;
      }
      &:last-of-type {
        margin-right: 0.5rem;
      }

      transition: 300ms;
    }

    button:hover {
      transform: translate(3px, -3px);
      box-shadow: -3px 3px 4px #101010;
    }
  }
}

.puzzle-card:hover {
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 4px #101010;
}
