<h1 mat-dialog-title class="challenge-title">Daily Challenges</h1>
<div mat-dialog-content>
  <ng-container *ngFor="let challenge of dailyChallenges">
    <div class="challenge">
      <h5>
        {{getDifficulty(challenge.Difficulty)}} - {{completedChallenges.includes(challenge.Difficulty) ? "Complete!" : "Reward: " + challenge.XPReward + "XP"}}
      </h5>

      <div
        class="relay"
        (click)="playChallenge(challenge)"
        [ngClass]="{
          'clickable': ! completedChallenges.includes(challenge.Difficulty)
        }">
        <ng-container *ngFor="let gameID of challenge.Relay">
          <div class="game-icon"
               [ngClass]="{
               'icon-easy': challenge.Difficulty === 1,
               'icon-medium': challenge.Difficulty === 2,
               'icon-hard': challenge.Difficulty === 3,
               'icon-extreme': challenge.Difficulty === 4
               }">
            <img src="{{getGameImage(mappedGames[gameID])}}">
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
