// Configuration and helpers
@import
'../../sass/abstracts/variables';

// Page-specific
.challenge-title {
  font-family: $alt-font-stack;
}

.relay {
  display: flex;
  justify-content: center;
}

.clickable {
  cursor: hover;

  &:hover {
    background-color: rgba(0,0,0,0.2);
  }
}

.challenge {
  padding: 0.25rem 0;

  h5 {
    font-size: 1.2rem;
  }
}

.game-icon {
  margin: 0.5rem;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 5.25rem;
  padding: 0.5rem;
  border-radius: 0.3rem;

  img {
    width: 4.25rem;
    height: 4.25rem;
  }
}

.icon-easy {
  background-color: $diff-color-easy;
}

.icon-medium {
  background-color: $diff-color-medium;
}

.icon-hard {
  background-color: $diff-color-hard;
}

.icon-extreme {
  background-color: $diff-color-extreme;
}

.btn-easy {
  background-color: #1e7e34;
  display: inline-block;
}

.btn-medium {
  background-color: #007bff !important;
}

.btn-hard {
  background-color: #f28c32 !important;
}

.btn-extreme {
  background-color: #dc3545 !important;
}
