<div id="leftControlPanel">
  <app-options
      [gameID]="gameID"
      [seed]="seed"
      [difficulty]="difficulty"
      [personalBestMonthly]="personalBestMonthly"
      [personalBestWeekly]="personalBestWeekly"
      [personalBestDaily]="personalBestDaily"
      [controls]="controls"
      [rules]="rules"
      [options]="options"
      (optionSelected)="handleOption($event)"
    >
  </app-options>
</div>

<canvas id="myCanvas" (window:resize)="fixSizes()" (contextmenu)="false"></canvas>

<div class="hidden">
  <img id="bomb" src="/assets/images/minesweeper/bomb.svg">
  <img id="flag" src="/assets/images/minesweeper/flag.svg">
  <img id="tile" src="/assets/images/minesweeper/minesweeper_tile.svg">
</div>
