<div class="game-screen">
  <div class="options-panel">
    <app-options
        [gameID]="gameID"
        [seed]="seed"
        [difficulty]="difficulty"
        [hotkeys]="hotkeys"
        [options]="options"
        [personalBestMonthly]="personalBestMonthly"
        [personalBestWeekly]="personalBestWeekly"
        [personalBestDaily]="personalBestDaily"
        (optionSelected)="handleOption($event)"
        >
    </app-options>
  </div>
  <div class="game-board">
    <canvas id="myCanvas" (window:resize)="fixSizes()" (contextmenu)="false"></canvas>
  </div>
</div>
