* {
    line-height: 1;
}

html, body {
    min-height: 100vh;
    margin: 0;
}

.game-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #2c2c2c;
}

.options-panel {
    display: flex;
    flex-direction: column;
    width: 225px;
    min-height: 100%;
    padding: 1.25em;
    overflow-x: hidden;
    overflow-y: auto;
}

.options-panel app-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.game-board {
    display: flex;
    flex-basis: 0;
    min-height: 100%;
}

#myCanvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
