<div class="body">
  <div class="flex-container">
    <ng-container *ngFor="let game of games">
      <div class="flex-element puzzle-card">
        <div class="card text-white bg-dark mb-3">
          <img class="svg-image card-img-top" src={{game.Image}}>
          <div class="card-body">
            <div class="flex-container">
              <button (click)="playGame(game.Name, 1)" class="puzzle-button btn btn-success" >easy</button>
              <button (click)="playGame(game.Name, 2)" class="puzzle-button btn btn-info"    >medium</button>
              <ng-container *ngIf="isLoggedIn()">
                <button (click)="playGame(game.Name, 3)" class="puzzle-button btn btn-primary" >hard</button>
                <button (click)="playGame(game.Name, 4)" class="puzzle-button btn btn-danger"  >extreme</button>
              </ng-container>
              <ng-container *ngIf="!isLoggedIn()">
                <div class="mytooltip">
                  <button (click)="playGame(game.Name, 3)" class="puzzle-button btn btn-primary" [disabled]="true">hard</button>
                  <div class="tooltiptext">
                    Log in to play harder difficulties
                  </div>
                </div>

                <div class="mytooltip">
                  <button (click)="playGame(game.Name, 4)" class="puzzle-button btn btn-danger"  [disabled]="true">extreme</button>
                  <div class="tooltiptext">
                    Log in to play harder difficulties
                  </div>
                </div>
              </ng-container>
            </div>

            <h4 style="padding-top:30px;margin-bottom:0px;padding-left:11px">{{game.Name}}</h4>
            <p style="padding-left:11px; padding-right:30px;">{{game.Description}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
