.body {
  height:calc(100vh - 3.5rem);
  overflow-y: auto;
  background-color: #2C2C2C;
}

.mytooltip {
  /*float:left;
  width:5.5rem;*/
  position: relative;
  display: inline-block;
}

.mytooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.5s;
}

.mytooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;



  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 120%;
  left: 50%; 
  margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .tooltiptext {
  visibility: visible;
}

.mytooltip:hover .tooltiptext {
  opacity: 1;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-around;
}

.puzzle-card {
    width: 28.75rem;
    min-height: 36.875rem;
    margin: 1.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: #343a40;
}

.puzzle-card .mat-card-header {
    margin: 0;
    margin-left: -16px;
}

.puzzle-card .mat-card-title {
    font-size: 1.5rem;
}

.puzzle-card img:first-of-type {
    width: 100%;
    max-height: 18.125rem;
    margin: 0;
    padding: 3.125rem 0;
}

.puzzle-card .mat-card-content {
    height: 100%;
    padding: 1.5rem 0;
    flex: 1;
    font-size: 1rem;
}

.puzzle-card .mat-card-actions {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
}

.mat-card-actions div {
    flex: 1 0 auto;
}

.mat-card-actions div button {
    width: 80%;
}

.button:hover {
    text-decoration: none;
}

.button:disabled {
    opacity: 0.65;
}

.button:not(:disabled) {
    cursor: pointer;
}

.button-green {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.button-green:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1c7c34;
}

.button-green:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.button-cyan {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.button-cyan:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.button-cyan:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.button-blue {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.button-blue:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.button-blue:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.button-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button-red:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.button-red:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
