<div class="body">
  <div class="flex-container">
    <ng-container *ngFor="let game of games">
      <div class="flex-element puzzle-card">
        <div class="card text-white bg-dark mb-3">
          <img class="svg-image card-img-top" src={{game.Image}}>
          <div class="card-body">
            <div class="flex-container">
              <a (click)="playGame(game.Name, 1)" class="puzzle-button btn btn-success">easy</a>
              <a (click)="playGame(game.Name, 2)" class="puzzle-button btn btn-info">medium</a>
              <a (click)="playGame(game.Name, 3)" class="puzzle-button btn btn-primary">hard</a>
              <a (click)="playGame(game.Name, 4)" class="puzzle-button btn btn-danger">extreme</a>
            </div>

            <h4 style="padding-top:30px;margin-bottom:0px;padding-left:11px">{{game.Name}}</h4>
            <p style="padding-left:11px; padding-right:30px;">{{game.Description}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
