.body {
  height:calc(100vh - 7rem);
  overflow-y: scroll;
  background-color: #2C2C2C;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height:100%;
}

.puzzle-button {
  width:5.5rem;
}

.puzzle-card {
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
  height: 590px;
}

.card {
  height: 100%;
  border-radius: 25px;
}

.flex-element {
}

* {
  font-family: 'Raleway', sans-serif;
}
