<div class="card login-card">
  <mat-tab-group>
    <mat-tab label="Sign In">
          <form name="loginform" id="loginform" action="#" method="get">
            <mat-form-field>
              <input matInput 
              type="text" 
              name="log" 
              id="username" 
              value="" 
              size="20" 
              placeholder="Username" 
              autocomplete="username"
              [(ngModel)]="username">
            </mat-form-field>
            <label
            style="color:red;font-size:13px;"
            *ngIf="capsLock">
              * Warning - Caps Lock is enabled.
            </label>
            <mat-form-field>
              <input matInput
              type="password"
              name="pwd"
              id="password"
              value=""
              size="20"
              placeholder="Password"
              autocomplete="current-password"
              [(ngModel)]="password">
            </mat-form-field>
            <section>
              <mat-checkbox labelPosition="before">Remember Me</mat-checkbox>
            </section>
            <ng-container *ngIf="loginError != ''">
              <p style="color:red">* {{loginError}}</p>
            </ng-container>
            <button mat-raised-button name="wp-submit" id="wp-submit" (click)="login()">
              Sign In
            </button>
          </form>
    </mat-tab>
    <mat-tab label="Register">
          <form name="registrationform" id="registrationform" action="#" method="get">
            <mat-form-field>
              <input matInput
              type="text"
              name="user"
              id="user_login"
              [(ngModel)]="registerUsername"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Username">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="text"
              name="email"
              id="user_email"
              [(ngModel)]="email1"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Email">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="text"
              name="email"
              id="user_email_2"
              [(ngModel)]="email2"
              (ngModelChange)="canRegister()"
              value="" size="20"
              placeholder="Confirm Email">
            </mat-form-field>
            <label
            style="color:red;font-size:13px;"
            *ngIf="capsLock">
              * Warning - Caps Lock is enabled.
            </label>
            <mat-form-field>
              <input matInput
              type="password"
              name="pass"
              id="user_pass"
              [(ngModel)]="registerPass1"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              autocomplete="new-password"
              placeholder="Password">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="password"
              name="pass"
              id="user_pass_2"
              [(ngModel)]="registerPass2"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              autocomplete="new-password"
              placeholder="Confirm Password">
            </mat-form-field>
            <ng-container *ngIf="errorMessage != ''">
              <p style="color:red">* {{errorMessage}}</p>
            </ng-container>
            <button mat-raised-button *ngIf="errorMessage == ''"
              name="register-submit" 
              (click)="register()"
              id="register-submit">
              Register
            </button>
            <p>
              This site is protected by reCAPTCHA and the Google
              <a href="https://policies.google.com/privacy">Privacy Policy</a> and
              <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </p>
          </form>
    </mat-tab>
    <mat-tab label="Forgot your password?">
          <form name="loginform" id="loginform" action="#" method="get">
            <mat-form-field *ngIf="forgotSuccessMessage == ''">
              <input matInput
              type="text" 
              name="log" 
              id="email" 
              value="" 
              size="20" 
              placeholder="Email" 
              [(ngModel)]="forgotEmail"
              (ngModelChange)="canForgetPassword()">
            </mat-form-field>
            <ng-container *ngIf="forgotEmailErrorMessage != ''">
              <p style="color:red">* {{forgotEmailErrorMessage}}</p>
            </ng-container>
            <ng-container *ngIf="forgotSuccessMessage != ''">
              <br>
              <p>{{forgotSuccessMessage}}</p>
            </ng-container>
            <button mat-raised-button *ngIf="forgotEmailErrorMessage == '' && forgotSuccessMessage == ''"
              name="wp-submit" 
              id="wp-submit" 
              (click)="forgotPasswordSubmit()">
              Submit
            </button>
          </form>
    </mat-tab>
  </mat-tab-group>
</div>
