<div class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-md-auto mr-md-auto">
        <div id="booked-profile-page">
          <div id="booked-page-form">
            
              <ul class="booked-tabs nav login bookedClearFix" id="booked-tabs" role="tablist">
                  <ng-container *ngIf="selectedTab=='login'">
							    		<li (click)="selectedTab = 'login'"><a id="profile-login-tab" data-toggle="tab" role="tab" class="active">Sign In</a></li>
                      <li (click)="selectedTab = 'register'"><a id="profile-register-tab" data-toggle="tab" role="tab" >Register</a></li>
							    		<li (click)="selectedTab = 'forgot'"><a id="profile-forgot-tab" data-toggle="tab" role="tab" >Forgot Password</a></li>
                  </ng-container>
                  <ng-container *ngIf="selectedTab=='register'">
							    		<li (click)="selectedTab = 'login'"><a id="profile-login-tab" data-toggle="tab" role="tab">Sign In</a></li>
                      <li (click)="selectedTab = 'register'"><a id="profile-register-tab" data-toggle="tab" role="tab" class="active">Register</a></li>
							    		<li (click)="selectedTab = 'forgot'"><a id="profile-forgot-tab" data-toggle="tab" role="tab" >Forgot Password</a></li>
                  </ng-container>
                  <ng-container *ngIf="selectedTab=='forgot'">
							    		<li (click)="selectedTab = 'login'"><a id="profile-login-tab" data-toggle="tab" role="tab">Sign In</a></li>
                      <li (click)="selectedTab = 'register'"><a id="profile-register-tab" data-toggle="tab" role="tab" >Register</a></li>
							    		<li (click)="selectedTab = 'forgot'"><a id="profile-forgot-tab" data-toggle="tab" role="tab" class="active">Forgot Password</a></li>
                  </ng-container>
                </ul>
                
            <div class="tab-content">
              <ng-container *ngIf="selectedTab=='login'">
                <div id="profile-login" class="booked-tab-content tab-pane fade show active" role="tabpanel" aria-labelledby="profile-login-tab">
                  <div class="booked-form-wrap bookedClearFix">
                    <form name="loginform" id="loginform" action="#" method="get">
                      <div class="form-group login-username">
                        <input type="text" name="log" id="username" class="form-control" value="" size="20" placeholder="Username" [(ngModel)]="username">
                      </div>
                      <div class="form-group login-password">
                        <input type="password" name="pwd" id="password" class="form-control" value="" size="20" placeholder="Password" [(ngModel)]="password">
                      </div>
                      <div class="login-remember">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="rememberme">
                          <label class="custom-control-label" for="rememberme">Remember Me</label>
                        </div>
                      </div>
                      <div class="login-submit">
                        <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-lg btn-primary" (click)="login()" value="Log In">
                      </div>
                    </form>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="selectedTab=='register'">
                <div id="profile-register" class="booked-tab-content fade tab-pane" role="tabpanel" aria-labelledby="profile-forgot-tab">
                  <div class="booked-form-wrap bookedClearFix">
                    <form name="registrationform" id="registrationform" action="#" method="get">
                      <div class="form-group registration-email">
                        <input type="text" name="email" id="user_email" class="form-control" value="" size="20" placeholder="Email">
                      </div>
                      <div class="form-group registration-username">
                        <input type="text" name="user" id="user_login" class="form-control" value="" size="20" placeholder="Username">
                      </div>
                      <div class="form-group registration-password">
                        <input type="password" name="pass" id="user_pass" class="form-control" value="" size="20" placeholder="Password">
                      </div>
                      <div class="login-submit">
                        <input type="submit" name="register-submit" id="register-submit" class="btn btn-lg btn-primary" value="Register">
                      </div>
                    </form>
                  </div>
                </div>
              </ng-container>
              
              <ng-container *ngIf="selectedTab=='forgot'">
                <div id="profile-forgot" class="booked-tab-content fade tab-pane" role="tabpanel" aria-labelledby="profile-forgot-tab">
                  <div class="booked-form-wrap bookedClearFix">
                    <form method="get" action="#" class="wp-user-form">
                      <div class="form-group">
                        <input type="text" name="user_login_forgot" class="form-control" value="" size="20" id="user_login_forgot" tabindex="1001" placeholder="What is your email address?">
                      </div>
                      <input type="submit" name="user-submit" value="Reset my password" class="user-submit btn btn-lg btn-primary" tabindex="1002">
                    </form>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
