.section-content {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2C2C2C;
  }

#booked-page-form p.captcha,
.booked-modal .bm-window p.captcha {
  margin: -5px 0 15px;
}

#booked-page-form {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }
  
  #booked-page-form .login-remember {
    float: left;
    margin: 1rem 0 0 0;
  }
  
  #booked-page-form .login-submit {
    float: right;
    margin: 0;
  }
  
  #booked-page-form .login-submit input {
    margin: 0;
  }

  #booked-profile-page {
    position: relative;
    margin: 0 0 30px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }
  
  #booked-profile-page .booked-profile-header {
    padding: 40px;
    position: relative;
  }
  
  #booked-profile-page .booked-profile-header .booked-logout-button {
    left: auto;
  }
  
  #booked-profile-page .booked-user-avatar {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
  }
  
  #booked-profile-page .booked-user-avatar img {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
  
  #booked-profile-page .booked-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #booked-profile-page .booked-user {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  #booked-profile-page .booked-user h3 {
    color: #fff;
    margin: 0;
    padding: 4px 0 4px 20px;
    display: inline-block;
    font-size: 20px;
  }
  
  #booked-profile-page .booked-user h3 a {
    text-decoration: none;
  }
  
  #booked-profile-page .booked-user h3 a:hover {
    color: #fff;
  }
  
  #booked-profile-page .booked-counts {
    float: right;
    width: 25%;
    margin-left: 5%;
    color: #fff;
  }
  
  #booked-profile-page .booked-counts span {
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 2.1;
  }
  
  #booked-profile-page .booked-counts i.booked-icon {
    display: inline-block;
    padding-right: 7px;
  }
  
  #booked-profile-page .booked-tabs {
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #booked-profile-page .booked-tabs li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  #booked-profile-page .booked-tabs li a {
    height: auto;
    font-size: .857rem;
    border-right-width: 1px;
    border-right-style: solid;
    border: none;
    display: block;
    text-decoration: none;
    padding: 0 25px;
    line-height: 56px;
    background: #191919;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
  }
  
  #booked-profile-page .booked-tabs li a i.booked-icon {
    display: inline-block;
    padding-right: 12px;
    font-size: 20px;
    line-height: 1.2em;
    vertical-align: middle;
  }
  
  #booked-profile-page .booked-tabs li a:hover {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  
  #booked-profile-page .booked-tabs li.active a {
    color: #fff;
    background: #242424;
  }
  
  #booked-profile-page .booked-tabs li.active a:hover {
    color: #fff;
  }
  
  #booked-profile-page .booked-tabs li a.active {
    color: #fff;
    background: #242424;
  }
  
  #booked-profile-page .booked-tabs li a.active:hover {
    color: #fff;
  }
  
  #booked-profile-page .booked-tab-content {
    padding: 50px;
    border: none;
    background: #242424;
  }
  
  #booked-profile-page p.booked-no-margin {
    color: #888;
    margin: 0;
  }
  
  #booked-profile-page .booked-show-cf {
    outline: none;
    font-weight: 600;
  }
  
  #booked-profile-page .booked-show-cf.booked-cf-active {
    color: #000;
  }
  
  #booked-profile-page .cf-meta-values-hidden {
    -webkit-animation: booked-popdown 0.2s;
            animation: booked-popdown 0.2s;
    display: none;
    border-left: 3px solid #ddd;
    margin: 10px 0 0 0px;
    padding: 0 0 0 20px;
  }
  
  #booked-profile-page .cf-meta-values-hidden p {
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }
  
  #booked-profile-page .cf-meta-values-hidden p:last-child {
    margin-bottom: 0;
  }
  
  #booked-profile-page .cf-meta-values-hidden p strong {
    font-weight: 600;
  }
  
  #booked-profile-page .result-section.table-layout {
    margin: 0;
  }
  
  #booked-profile-page .result-section.table-layout .table-box {
    border: none;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .table-row {
    min-height: 115px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .cell-title {
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .cell-title p {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 12px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .cell-title small {
    display: block;
    padding-top: 5px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .cell-title a {
    font-weight: 600;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-body .cell-title .booked-review p {
    font-size: 14px;
    line-height: 1.7;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-head-row {
    background: none !important;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .table-cell {
    padding: 20px 0;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-title {
    position: relative;
    width: 55%;
    padding-right: 25px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-title .compact-img img {
    width: 65px;
    height: auto;
    position: absolute;
    border-radius: 3px;
    top: 26px;
    left: 0;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-title .cell-title-wrap {
    padding-left: 85px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-title.reviews {
    width: 100%;
    padding-right: 0;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-title.reviews .rating {
    margin-top: 10px;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-rating {
    width: 20%;
  }
  
  #booked-profile-page .result-section.table-layout .table-box .cell-time {
    width: 25%;
  }

  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }
  
  .custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #1B1B1B, 0 0 0 0 transparent;
            box-shadow: 0 0 0 1px #1B1B1B, 0 0 0 0 transparent;
  }
  
  .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #fcb7b8;
  }
  
  .custom-control-input:disabled ~ .custom-control-label {
    color: #6c757d;
  }
  
  .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #e9ecef;
  }
  
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    color: #fff;
  }
  
  .custom-control-label::before {
    position: absolute;
    top: 0.1875rem;
    left: -2rem;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: 2px solid #404040;
  }
  
  .custom-control-label::after {
    position: absolute;
    top: 0.1875rem;
    left: -2rem;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 10px;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }
  .bookedClearFix:after {
    content: "";
    display: table;
    clear: both;
  }
