<div class="card login-card">
  <mat-tab-group>
    <mat-tab label="Sign In">
          <form name="loginform" id="loginform" action="#" method="get">
            <mat-form-field>
              <input matInput 
              type="text" 
              name="log" 
              id="username" 
              value="" 
              size="20" 
              placeholder="Username" 
              [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="password"
              name="pwd"
              id="password"
              value=""
              size="20"
              placeholder="Password"
              [(ngModel)]="password">
            </mat-form-field>
            <section>
              <mat-checkbox labelPosition="before">Remember Me</mat-checkbox>
            </section>
            <button mat-raised-button name="wp-submit" id="wp-submit" (click)="login()">
              Sign In
            </button>
          </form>
    </mat-tab>
    <mat-tab label="Register">
          <form name="registrationform" id="registrationform" action="#" method="get">
            <mat-form-field>
              <input matInput
              type="text"
              name="user"
              id="user_login"
              [(ngModel)]="registerUsername"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Username">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="text"
              name="email"
              id="user_email"
              [(ngModel)]="email1"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Email">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="text"
              name="email"
              id="user_email_2"
              [(ngModel)]="email2"
              (ngModelChange)="canRegister()"
              value="" size="20"
              placeholder="Confirm Email">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="password"
              name="pass"
              id="user_pass"
              [(ngModel)]="registerPass1"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Password">
            </mat-form-field>
            <mat-form-field>
              <input matInput
              type="password"
              name="pass"
              id="user_pass_2"
              [(ngModel)]="registerPass2"
              (ngModelChange)="canRegister()"
              value=""
              size="20"
              placeholder="Confirm Password">
            </mat-form-field>
            <ng-container *ngIf="errorMessage != ''">
              <p style="color:red">* {{errorMessage}}</p>
            </ng-container>
            <button mat-raised-button 
              name="register-submit" 
              [disabled]="errorMessage != ''" 
              (click)="register()"
              id="register-submit">
              Register
            </button>
          </form>
    </mat-tab>
  </mat-tab-group>
</div>

<!--<ng-container *ngIf="selectedTab=='forgot'">
  <div id="profile-forgot" class="booked-tab-content fade tab-pane" role="tabpanel" aria-labelledby="profile-forgot-tab">
  <div class="booked-form-wrap bookedClearFix">
  <form method="get" action="#" class="wp-user-form">
  <div class="form-group">
  <input type="text" name="user_login_forgot" class="form-control" value="" size="20" id="user_login_forgot" tabindex="1001" placeholder="What is your email address?">
  </div>
  <input type="submit" name="user-submit" value="Reset my password" class="user-submit btn btn-lg btn-primary" tabindex="1002">
  </form>
  </div>
  </div>
  </ng-container>-->
