.gridContainer {
    height:100%;
    display:flex;
}
.mytooltip {
  position: relative;
  display: inline-block;
}

.mytooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.5s;
}

.mytooltip:hover .tooltiptext {
  opacity: 1;
}

.name {
  text-align: left;
  padding-left: 15px;
}

.time {
  text-align: right;
  padding-right: 15px;
}

.mytooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* Tooltip text */
.mytooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  top: -5px;
  right: 115%; 

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .tooltiptext {
  visibility: visible;
}

#page {
  background: #2C2C2C;
  position: absolute;
  top:3.5rem;
  left:200px;
  overflow-y: scroll;
  width: calc(100% - 200px);
  height: calc(100vh - 7rem);
}

#navController {
  background: #2C2C2C;
  position: absolute;
  top:40vh;
  left: 0px;
  width: 200px;
  height: calc(60vh - 7rem);
  color: white;
}

.navActive {
  background: #2C2C2C;
}

.navInactive {
  background: #3D3D3D;
}

.navItem {
  cursor:pointer;
}

.leaderboardEntry {
    color: white;   
    border: white solid;
    flex:1;
    margin: auto;
    border-radius: 25px;
    
    max-width:409px;
    min-width: 409px;
    max-height:calc(100vh - 11rem);
    min-height:calc(100vh - 11rem);
    text-align: center;
}

.columnContainer {
    display:flex;
    flex-wrap: wrap;
    min-height: 800px;
    height: 100%;
    width: 100%;
    margin: auto;
}

.first {
    color:yellow;
}

.second {
    color:white;
}

.third {
    color:#CD7F32;
}

.others {
    color:#C0C0C0;
}

.easy {
    border: lightcoral solid;
}

.medium {
    border: cyan solid;
}

.hard {
    border: lightgreen solid;
}

.extreme {
    border: lightskyblue solid;
}
