<div id="navController" class="">
  <ng-container *ngFor="let game of games">
    <a (click)="setGame(game.GameID)" 
      [ngClass]="gameID == game.GameID ? 'navActive' : 'navInactive'" 
                        class="navItem nav-item nav-link"><img class="clickable" src="{{game.Image}}"></a>
  </ng-container>
</div>

<div id="page">
  <div class="title textContainer">
    <h2 class="gameName">{{getGameName(gameID)}}</h2>
  </div>

  <div class="leaderboardButtons">
    <button [ngClass]="leaderboard == 0 ? 'selectedButton' : 'leaderbutton'" (click)="changeLeaderboard(0)">Daily</button>
    <button [ngClass]="leaderboard == 1 ? 'selectedButton' : 'leaderbutton'" (click)="changeLeaderboard(1)">Weekly</button>
    <button [ngClass]="leaderboard == 2 ? 'selectedButton' : 'leaderbutton'" (click)="changeLeaderboard(2)">Monthly</button>
  </div>

  <div class="countdown">
    <h2 class="timerTitle monospace">RESET IN:</h2>
    <h2 id="leaderboardstimer" class="timer monospace">000:00:00</h2>
  </div>

  <div class="gridContainer">
      <div class="columnContainer">
        <ng-container *ngFor="let diff of difficulties;let i=index">
          <div class="flexElement">
            <div [ngClass]="i==0 ? 'easy' : i==1 ? 'medium' : i==2 ? 'hard' : 'extreme'"
              class="leaderboardEntry">
              <h3 style="padding-top:10px"><b>{{diff}}</b></h3>
              <table>
                <thead>
                  <tr>
                    <td class="firstcol"></td>
                    <td class="secondcol nameTitle"><b>Name</b></td>
                    <td class="thirdcol medals"></td>
                    <td class="fourthcol time"><b>Time</b></td>
                  </tr>
                </thead>
                <tbody class="scrollable">
                  <ng-container *ngFor="let entry of leaderboards[i + 1];let k=index">
                    <tr [ngClass]="username == entry.username ? 'you' : k % 2 == 0 ? 'even' : 'odd'">
                      <td class="pos firstcol">
                        {{k + 1}}
                      </td>
                      <td class="name secondcol" (click)="viewProfile(entry.username)">
                        {{entry.username}}
                      </td>

                      <td class="medals thirdcol">
                        <div class="medalRow">
                          <ng-container *ngIf="hasMedals(entry)">
                            <div class="mytooltip">
                              <img class="goldMedals medal" src="/assets/images/medals/gold.svg">
                              <div class="tooltiptext">
                                {{leaderboardName}} Gold Medal
                              </div>
                            </div>
                            <a class="monospace medalText">
                              {{entry.goldMedals}}
                            </a>
                          </ng-container>
                        </div>

                        <div class="medalRow">
                          <ng-container *ngIf="hasMedals(entry)">
                            <div class="mytooltip">
                              <img class="goldMedals medal" src="/assets/images/medals/silver.svg">
                              <div class="tooltiptext">
                                {{leaderboardName}} Silver Medal
                              </div>
                            </div>
                            <a class="monospace medalText">
                              {{entry.silverMedals}}
                            </a>
                          </ng-container>
                        </div>

                        <div class="medalRow">
                          <ng-container *ngIf="hasMedals(entry)">
                            <div class="mytooltip">
                              <img class="goldMedals medal" src="/assets/images/medals/bronze.svg">
                              <div class="tooltiptext">
                                {{leaderboardName}} Bronze Medal
                              </div>
                            </div>
                            <a class="monospace medalText">
                              {{entry.bronzeMedals}}
                            </a>
                          </ng-container>
                        </div>
                      </td>

                      <td class="timeText monospace fourthcol">
                        {{entry.time}}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
</div>
