<div class="container-static-stretch container-scroll-y container-main-static">
  <div class="container-flex-row leaderboard-header">
    <div class="game-title col-12">
      <h2 class="gameName">{{getGameName(gameID)}}</h2>
    </div>
  </div><!-- leaderboard-header -->
  <div class="container-flex-row leaderboard-ui">
    <div class="countdown col-12">
      <span class="timerTitle monospace">RESET IN:&nbsp;</span>
      <span id="leaderboardstimer" class="timer monospace">000:00:00</span>
    </div>
  </div>
  <div class="container-flex-row leaderboard-ui">
    <div class="col-6">
      <mat-button-toggle-group>
        <mat-button-toggle
         [checked]="leaderboard == 0"
         (click)="leaderboard = 0">
          Daily
        </mat-button-toggle>
        <mat-button-toggle
         [checked]="leaderboard == 1"
         (click)="leaderboard = 1">
          Weekly
        </mat-button-toggle>
        <mat-button-toggle
         [checked]="leaderboard == 2"
         (click)="leaderboard = 2">
          Monthly
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-6" style="text-align: right">
      <mat-button-toggle-group>
        <ng-container *ngFor="let game of games">
          <mat-button-toggle
                       (click)="gameID = game.id"
                       [checked]="gameID == game.id">
            <img src={{game.image}} alt="{{game.name}} logo" class="game-icon" />
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="col-12 container-flex-row leaderboard-tables">
    <ng-container *ngFor="let diff of getGameDiffs(gameID); let i=index">
      <mat-card class="col leaderboard-card">
        <mat-card-header>
          <mat-card-title>{{diff.name | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content [ngClass]="diff.name">
          <table>
            <thead>
              <th></th>
              <th></th>
              <th>Username</th>
              <th>
                <img
                class="goldMedals medal"
                src="/assets/images/medals/{{leaderboardName}}_Gold.svg">
              </th>
              <th>
                <img
                class="silverMedals medal"
                src="/assets/images/medals/{{leaderboardName}}_Silver.svg">
              </th>
              <th>
                <img
                class="bronzeMedals medal"
                src="/assets/images/medals/{{leaderboardName}}_Bronze.svg">
              </th>
              <th>Time</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let row of leaderboardData[diff.diff]; let j=index">
                <tr [ngClass]="{'you': row.username == username}">
                  <td>{{j+((leaderboardCurrentPage[diff.diff] - 1) * pageSize)+1}}</td>
                  <td>
                      <app-puzzler-icon
                        class="leaderboard-puzzler-icon"
                        [puzzlerIconID]="
                         row.username != username ? row.puzzlerIcon : userPuzzlerIcon
                        "
                      >
                      </app-puzzler-icon>
                  </td>
                  <td>
                    <button mat-button
                       [routerLink]="['/profile']"
                       [queryParams]="{user: row.username}"
                       routerLinkActive="active"
                       class="leaderboard-profile-link">
                      {{row.username}}
                    </button>
                  </td>
                  <td>{{row.goldMedals}}</td>
                  <td>{{row.silverMedals}}</td>
                  <td>{{row.bronzeMedals}}</td>
                  <td>{{row.time}}</td>
                </tr>
              </ng-container>

              <ng-container *ngFor="let i of getLeftoverBlankRows(diff.diff)">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot *ngIf="footerData[diff.diff] != null && footerData[diff.diff].length > 0">
              <tr>
                <td>You</td>
                <td>
                  <app-puzzler-icon
                    class="leaderboard-puzzler-icon"
                    [puzzlerIconID]="userPuzzlerIcon"
                  >
                  </app-puzzler-icon>
                </td>
                <td>
                  <a [routerLink]="['/profile']"
                     [queryParams]="{user: footerData[diff.diff][0].username}"
                     routerLinkActive="active"
                     class="leaderboard-profile-link">
                    {{footerData[diff.diff][0].username}}
                  </a>
                </td>
                <td>{{footerData[diff.diff][0].goldMedals}}</td>
                <td>{{footerData[diff.diff][0].silverMedals}}</td>
                <td>{{footerData[diff.diff][0].bronzeMedals}}</td>
                <td>{{footerData[diff.diff][0].time}}</td>
              </tr>
            </tfoot>
          </table>
        </mat-card-content>
        <mat-card-actions *ngIf="leaderboardEntries[diff.diff] > pageSize">
          <button mat-button
                class="leaderboard-nav"
                (click)="pageChange(diff.diff, 1)"
                [disabled] = "leaderboardCurrentPage[diff.diff] === 1">
            <mat-icon>
              first_page
            </mat-icon>
          </button>
          <button mat-button
                class="leaderboard-nav"
                (click)="pageChange(diff.diff, leaderboardCurrentPage[diff.diff]-1)"
                [disabled] = "leaderboardCurrentPage[diff.diff] === 1">
            <mat-icon>
              chevron_left
            </mat-icon>
          </button>
          <ng-container *ngFor="let page of leaderboardPageGroup[diff.diff]">
            <button mat-button
                class="leaderboard-nav"
                (click)="pageChange(diff.diff, page)"
                [disabled] = "leaderboardCurrentPage[diff.diff] === page">
            {{page}}
            </button>
          </ng-container>
          <button mat-button
                class="leaderboard-nav"
                (click)="pageChange(diff.diff, leaderboardCurrentPage[diff.diff]+1)"
                [disabled] = "leaderboardCurrentPage[diff.diff] === leaderboardPages[diff.diff]">
            <mat-icon>
              chevron_right
            </mat-icon>
          </button>
          <button mat-button
                class="leaderboard-nav"
                (click)="pageChange(diff.diff, leaderboardPages[diff.diff])"
                [disabled] = "leaderboardCurrentPage[diff.diff] === leaderboardPages[diff.diff]">
            <mat-icon>
              last_page
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
