$circle-size: 120px;
$circle-background: #3C3C3C;
$circle-color: #A89984;
$inset-size: 90px;
$inset-color: #4D4D4D;
$transition-length: 1s;
$shadow: 1px 1px 1px rgba(0,0,0,0.2);
$percentage-color: #FFFFFF;
$percentage-font-size: 35px;
$percentage-text-width: 57px;

.xpGain {
  color: #AAD46D;
  position: absolute;
  bottom:160px;
  right:30px;
  width: 120px;
  text-align: center;
  z-index: 9998;
  font-size: 17px;
}

.radial-progress:hover {
  opacity: 0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.description {
  position: absolute;
  bottom:30px;
  right:30px;
  z-index: 9998;
  width: $circle-size;
  height: $circle-size;

  text-align: center;

  background-color: $inset-color;
  border-radius: 50%;
  box-shadow: $shadow;
	font-size: 20px;
	color: $percentage-color;
}

.radial-progress {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  opacity: 1;
	margin: 0px;
	width: $circle-size;
	height: $circle-size;
  position: absolute;
  bottom:30px;
  right:30px;
  z-index: 9999;

	background-color: $circle-background;
	border-radius: 50%;
	.circle {
		.mask, .fill, .shadow {
			width: $circle-size;
			height: $circle-size;
			position: absolute;
			border-radius: 50%;
      overflow: hidden;
		}
		.shadow {
			box-shadow: $shadow inset;
		}
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			transition: -webkit-transform $transition-length;
			transition: -ms-transform $transition-length;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.mask {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
		}
	}
	.inset {
		width: $inset-size;
		height: $inset-size;
		position: absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top: ($circle-size - $inset-size)/2;

		background-color: $inset-color;
		border-radius: 50%;
		box-shadow: $shadow;
		.percentage {
			height: $percentage-font-size;
			width: $percentage-text-width;
			overflow: hidden;

			position: absolute;
			top: ($inset-size - $percentage-font-size) / 2;
			left: ($inset-size - $percentage-text-width) / 2;

			line-height: 1;
			.numbers {
				margin-top: -$percentage-font-size;
				transition: width $transition-length;
				span {
					width: $percentage-text-width;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					font-weight: 800;
					font-size: $percentage-font-size;
					color: $percentage-color;
				}
			}
		}
	}

	$increment: 180deg / 100;
	@for $i from 0 through 100 {
		&[data-progress="#{$i}"] {
			.circle {
				.mask.full, .fill {
					-webkit-transform: rotate($increment * $i);
					-ms-transform: rotate($increment * $i);
					transform: rotate($increment * $i);
				}
				.fill.fix {
					-webkit-transform: rotate($increment * $i * 2);
					-ms-transform: rotate($increment * $i * 2);
					transform: rotate($increment * $i * 2);
				}
			}
			.inset .percentage .numbers {
				width: $i * $percentage-text-width + $percentage-text-width;
			}
		}
	}
}
