// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

/// Regular font family
/// @type list
$text-font-stack: 'Open Sans', sans-serif !default;

/// Alternate font family
/// @type list
$alt-font-stack: 'Poppins', sans-serif !default;

/// Monospace font family
/// @type list
$mono-font-stack: 'Roboto Mono', monospace !default;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

/// Generic
$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;

/// Text color
/// @type Color
$text-color: $white !default;

/// Background Color
$bg-color: rgb(44, 44, 44) !default;

/// Component Color
/// Examples: Nav, game cards
$cmp-color: rgb(52, 58, 64) !default;

/// Puzzle Hub Colors
$ph-primary: rgb(175, 175, 175) !default;
$ph-accent: rgb(242, 75, 62) !default;

/// Puzzle Piece Colors
$puz-green: rgb(30, 126, 52) !default;
$puz-blue: rgb(0, 123, 255) !default;
$puz-orange: rgb(242,140,50) !default;
$puz-red: rgb(220, 53, 69) !default;

$puz-cyan: rgb(23, 162, 184) !default;

/// Difficulty Colors
$diff-color-easy: $puz-green !default;
$diff-color-medium: $puz-blue !default;
$diff-color-hard: $puz-orange !default;
$diff-color-extreme: $puz-red !default;

$difficulty-colors: () !default;
$difficulty-colors: map-merge(
  (
    "easy": $diff-color-easy,
    "medium": $diff-color-medium,
    "hard": $diff-color-hard,
    "extreme": $diff-color-extreme
  ),
  $difficulty-colors
);

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

/// Breakpoints map
/// Ripped values from Bootstrap
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/// Grid
$grid-columns: 12 !default;
$grid-gutter: 2rem !default;

/// Nav
$nav-font-size: 1rem;
$nav-line-height: 1.5rem;
$nav-padding-x: 1rem;
$nav-padding-y: 0.5rem;
$nav-height: $nav-font-size + $nav-line-height + 2 * $nav-padding-y;

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

/// Buttons

$btn-disabled-opacity: 0.65 !default;

$btn-diff-color: $white;

/// Tooltips

$tooltip-text-color: $white !default;
$tooltip-bg-color: rgba(0, 0, 0, 0.5) !default;
$tooltip-border-color: $tooltip-bg-color !default;

/// Cards

$card-margin: 1.4rem;
$card-padding: 2rem;
$card-border-radius: 1.5rem;
