// Button variants

@mixin button-variant(
  $background, 
  $border,
  $hover-background: darken($background, 7.5%),
  $hover-border: darken($border, 10%),
  $disabled-background: darken($background, 30%),
  $disabled-border: darken($border, 42.5%),
  $active-background: darken($background, 10%),
  $active-border: darken($border, 12.5%)
  ) {
  color: $btn-diff-color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $btn-diff-color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  // Includes Material override
  &:disabled,
  &.mat-raised-button:disabled {
    color: darken($btn-diff-color, 30%);
    background-color: $disabled-background;
    border-color: $disabled-border;
  }

  &:not(:disabled):active {
    color: $btn-diff-color;
    background-color: $active-background;
    border-color: $active-border;
  }
}
