/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
  background-color: #2C2C2C;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

::-webkit-scrollbar-thumb:active { 
  background-color: #555;
}  
