<div id="leftControlPanel">
  <div class="descriptionBlock">
    <a class="descriptionHeader"><b>HIGH SCORE</b></a>
    <a class="monospace time">{{personalBest}}</a>
  </div>

  <div class="descriptionBlock">
    <a class="descriptionHeader"><b>TIMER</b></a>
    <a id="timer" class="monospace time">0:00:00.000</a>
  </div>

  <div class="descriptionBlock">
    <a class="descriptionHeader"><b>CONRTROLS</b></a>
    <a class="descriptionText">
      Click and drag from an island to build a bridge
      <br>
      OR
      <br>
      Place mouse over an island and use WASD to build bridges
    </a>
  </div>

  <div class="descriptionBlock">
    <a class="descriptionHeader"><b>RULES</b></a>
    <a class="descriptionText">
      The goal is to connect all of the islands into a single connected group 
      by drawing a series of bridges between the islands. The number of
      bridges coming off of an island must match the number written on
      that island.
    </a>
  </div>
  
  <div class="buttons">
    <a (click)="newGame()" class="center new-game">
      <a class="buttonHeader"><b>NEW GAME</b></a>
      <a class="buttonFooter">spacebar</a>
    </a>
  </div>
</div>

<canvas id="myCanvas" (window:resize)="fixSizes()" (contextmenu)="false"></canvas>
